@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    background-color: #65C1FC;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.336);
}

h1 {
    font-family: poppins;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

nav {
    padding: 5px;
    font-family: poppins;
    font-weight: 500;
}

nav > ul > li {
    display: inline-block;
}


header a {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}

header a:hover {
    text-decoration: underline;
    background-color: white;
    color: #65C1FC;
    border-radius: 10px;
}

main {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.box1, .box2 {
    width: 350px;
    margin: 0 auto;
    
}

main h2, .box1 h2 {
    margin-bottom: 20px;
}

main p , .box1 p {
    width: 300px;
    text-align: justify;
    margin-bottom: 5px;
}

.box1 a {
    color: black;
    text-decoration: none;
}

.box1 a:hover {
    color: black;
    text-decoration: underline;
}


.box2 img {
    display: none;
}


form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px;
    margin-top: 10px;
}

input {
    width: 300px;
    height: 20px;
    padding: 7px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 15px;
}

textarea {
    width: 300px;
    padding: 7px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 15px;
}

form [type="submit"] {
    height: 40px;
    width: 150px;
    background-color: #5A88E0;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

footer {
    padding: 15px;
    border-top: 2px solid rgba(0, 0, 0, 0.336);
    text-align: center;
}

footer h3 {
    padding: 15px;

}

footer > ul > li {
    display: inline-block;
}

ul > li > a > img {
    width: 40px;
    padding: 10px;
    border-radius: 50px;
}